<header class="navbar-submenu clearfix">
  <ul>
    <li class='<%= get_active_klass('incomes') %>'><%= link_to "Income", user_incomes_path(current_user) %></li>
    <li class='<%= get_active_klass('expenses') %>'><%= link_to "Expenses", user_expenses_path(current_user) %></li>
    <li class='<%= get_active_klass('budgets') %>'><%= link_to "Budgets", user_budgets_path(current_user) %></li>
   </ul>
</header>