<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Budget Planner</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render :partial => 'layouts/style_layout' %>
    <div class="<%= main_container_class %>">
      <% if notice.present? && alert.present? %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>

    <% if current_user.present? %>
      <%= render :partial => 'layouts/style_footer' %>
    <% end %>
    <%= yield :popup %>
  </body>
</html>