<!DOCTYPE html>
<html>
  <head>
    <title>BudgetPlanner</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="main" role="main">
      <div id="signin-box">    
        <%= render :partial => "layouts/notification" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>